<app-feedbacks-wrapper pathIcon="assets/svg/auth/image2.svg">
    <div class="onboard">
        <div class="onboard__texts">
            <h1>Cadastro realizado!</h1>
            <p>
                Agora você pode buscar atendimento e receber o
                suporte emocional dos profissionais disponíveis
                na plataforma.
            </p>
        </div>
        <div class="onboard__actions">
            <button mat-flat-button class="w-100 btn btn-primary" (click)="goToLogin()">Acessar minha conta</button>
        </div>
    </div>
</app-feedbacks-wrapper>
