@import '../../../../../assets/scss/colors';

.scheduling {
    width: 100%;
    height: auto;

    &__welcome {
        margin-bottom: 24px;
        h1 {
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.18px;
        }

        p {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color:  #00000099;
        }
    }

    &__line {
        margin: 24px 0px;
        border-color: #21212114;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 24px;

        .alert {
            width: 100%;
            padding: 20px;
            background-color: $terciary;
            border-radius: 6px;

            p {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color:  #00000099;
                margin: 0px;
            }
        }
    }
}
