<app-wrapper pathIcon="assets/svg/onboard/memories1.svg">
    <div class="onboard">
        <div class="onboard__texts">
            <h1>Conheça o memórias&afetos</h1>
            <p>
                Um lugar para ressignificar perdas emocionais e
                encontrar um novo sentido nas suas histórias.
            </p>
        </div>
        <div class="onboard__actions">
            <button mat-flat-button class="w-100 btn btn-primary" routerLink="/onboarding/two">Preciso de ajuda</button>
            <button mat-flat-button class="w-100 btn btn-terciary" routerLink="/professional/register">Quero ajudar</button>
            <button mat-flat-button class="w-100 btn btn-link" routerLink="/auth/login">Acessar minha conta</button>
        </div>
    </div>
</app-wrapper>
