.landpage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    // background-color: black;
    padding: 10px;

    &__nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 10px;
    }
}

// .example-container {
//     width: 500px;
//     height: 300px;
//     border: 1px solid rgba(0, 0, 0, 0.5);
// }

// .example-sidenav-content {
//     display: flex;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
// }

// .example-sidenav {
//     padding: 20px;
// }
