<section class="landpage">
    <nav class="landpage__nav container">
        <button mat-flat-button extended
            [color]="'#6A994E'"
            style="background-color: #6A994E;"
            routerLink="onboarding"
        >
            Compartilhe a sua história
        </button>
        <!-- <button mat-flat-button extended [color]="'#FFC09F'" style="background-color: #FFC09F;">
            Quero ajudar
        </button> -->
    </nav>
</section>
<!-- <mat-drawer-container class="landpage" autosize [hasBackdrop]="'over'">
    <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
        <p>Auto-resizing sidenav</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
    </div>

</mat-drawer-container> -->
