<ng-container *ngIf="partial === _partialEnum.one">
    <app-onboard-one (clickChange)="stepManagerService.next()"></app-onboard-one>
</ng-container>

<ng-container *ngIf="partial === _partialEnum.two">
    <app-onboard-two (clickChange)="stepManagerService.next()" (previousChange)="stepManagerService.previous()"></app-onboard-two>
</ng-container>

<ng-container *ngIf="partial === _partialEnum.three">
    <app-onboard-register (clickChange)="stepManagerService.next()" (previousChange)="stepManagerService.previous()"></app-onboard-register>
</ng-container>
