<app-feedbacks-wrapper pathIcon="assets/svg/auth/image2.svg">
    <div class="onboard">
        <div class="onboard__texts">
            <h1>Cadastro realizado!</h1>
            <p>
                Obrigado por se cadastrar como voluntário.
            </p>
            <p>
                Agora, você pode buscar usuários para
                atender ou aguardar que eles entrem
                em contato com você.
            </p>
        </div>
        <div class="onboard__actions">
            <button mat-flat-button class="w-100 btn btn-primary" (click)="goToLogin()">Acessar minha conta</button>
        </div>
    </div>
</app-feedbacks-wrapper>
