<app-feedbacks-wrapper pathIcon="assets/svg/onboard/memories3.svg">
    <div class="onboard">
        <div class="onboard__texts">
            <h1>História Registrada!</h1>
            <p>
                Para continuar sua jornada de ressignificação, por favor,
                verifique seu e-mail. Um link de confirmação
                foi enviado para você.
            </p>
            <p>
                Descubra mais recursos e obtenha apoio emocional de
                nossos profissionais voluntários.
                Estamos aqui para ajudar em sua jornada de
                ressignificação.
            </p>
        </div>
        <div class="onboard__actions">
            <button mat-flat-button class="w-100 btn btn-primary">Explorar</button>
        </div>
    </div>
</app-feedbacks-wrapper>
