<app-feedbacks-wrapper pathIcon="assets/svg/onboard/memories3.svg">
    <div class="onboard">
        <div class="onboard__texts">
            <h1>História Registrada!</h1>
            <p>
                Para continuar sua jornada de ressignificação, por favor,
                verifique seu e-mail. Um link de confirmação
                foi enviado para você.
            </p>
            <p>
                Após confirmar sua conta, você poderá receber apoio
                emocional de nossos profissionais voluntários.
                Estamos aqui para ajudá-lo em sua jornada de ressignificação.
            </p>
        </div>
        <div class="onboard__actions">
            <button mat-flat-button class="w-100 btn btn-primary" (click)="goToLogin()">Voltar para a página inicial</button>
        </div>
    </div>
</app-feedbacks-wrapper>
