<app-scheduling-wrapper [previousBtn]="true" (previousChange)="goToInitial()" (logoutChange)="goToLogin()">
    <div class="scheduling">
        <div class="wrapper">
            <div class="avatar"></div>
            <h1>{{ data.name }}</h1>
            <div class="text-history">
                <p>{{ data.history }}</p>
            </div>
        </div>
        <button mat-flat-button class="w-100 btn btn-primary" (click)="goToResult(data.id)">
            Agendar atendimento
        </button>
    </div>
</app-scheduling-wrapper>
